---
import type { CollectionEntry } from "astro:content";
import FormateDate from "../components/FormateDate.astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      .title {
        font-size: 2em;
        margin: 0.25em 0 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
      .last-updated-on {
        font-style: italic;
      }
    </style>
  </head>

  <body>
    <Header />
    <main class="body">
      <article>
        {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
        <h1 class="title">{title}</h1>
        <FormateDate date={pubDate} />
				{
					updatedDate && (
						<div class="last-updated-on">
							最后一次更改于 <FormateDate date={updatedDate} />
						</div>
					)
				}
        <hr />
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
